ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav li a{
    display: inline-block;
    float:right;
}
nav ul li a{
    background-color: gainsboro;
    color: #04161e;
    width: 120px;
    height: 30px;
    padding-top: 10px;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover{
    background-color: antiquewhite;
}
